.container {
  text-align: center;
  max-width: 1170px;
  padding: 16px;
  margin: auto;
}

.awesome-line {
  border-bottom: 2px solid #d98943;
  width: 64px;
  margin: auto;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  width: 350px;
  margin-right: 32px;
  /* display: inline-block; */
}

.card__icon {
  border: 1px solid #d98943;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin: auto;
}
.card__image {
  margin-top: 20px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 16px;
}

h2 {
  margin-top: 80px;
  margin-bottom: 34px;
}

.pricing {
  background-color: #f5f5f5;
}

.pricing-line {
  border-bottom: 2px solid #e72424;
  width: 64px;
  margin: auto;
}
.pricing__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 63px;
}

.pricing__card {
  list-style: none;
  margin: 0;
}

.pricing__card-main {
  width: 340px;
  background-color: #333333;
  color: #ffffff;
  margin-bottom: 1px;
  padding-top: 15px;
  padding-bottom: 8px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27.24px;
  text-align: center;
}
.pricing__card-price {
  width: 340px;
  background-color: #333333;
  color: #ffffff;
  margin-bottom: 2px;
  padding-top: 26px;
  padding-bottom: 33px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41.09px;
  text-align: center;
}
.pricing__card-free {
  width: 340px;
  background-color: #333333;
  color: #ffffff;
  margin-bottom: 4px;
  padding-top: 17px;
  padding-bottom: 14px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.07px;
  text-align: center;
}

.pricing__card-freeOrange {
  width: 340px;
  background-color: #d98943;
  color: #ffffff;
  margin-bottom: 4px;
  padding-top: 17px;
  padding-bottom: 14px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19.07px;
  text-align: center;
}
.pricing__card-space {
  width: 340px;
  background-color: #ffffff;
  color: #86878b;
  margin-bottom: 4px;
  padding-top: 10px;
  padding-bottom: 11px;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  text-align: center;
}

.customers__card {
  width: 298px;
  margin-top: 30px;
}

.customers__card-text {
  background: #e2e2e2;
  border-radius: 7px;

  padding: 8px 20px 8px 20px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #86878b;
  position: relative;

  margin-bottom: 22px;
}

.customers__card-text::after {
  content: "";
  display: block;

  height: 17px;
  background-color: transparent;

  border-top: 12px solid #e2e2e2;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid transparent;

  position: absolute;
  left: 39px;
  top: 100%;
}

.customers__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
p {
  background-color: #e2e2e2;
  border-radius: 7px;
  padding: 9px 23px 6px 22px;
  text-align: center;
  color: #86878b;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
}

.customers__card-info {
  display: flex;
}

.customers__card-photo {
  margin: 0 45px 0 45px;
  width: 70px;
  height: 70px;
}
h4 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27.24px;
  text-align: center;
  margin: 0px;
}
h5 {
  color: #86878b;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  display: flex;
  justify-content: flex-end;
}
.axure {
  background: url("../images/background\ 1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 100px;
  padding-top: 58px;
  padding-bottom: 29px;
}

.axure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
}
.title__axure {
  font-family: Raleway;
  margin: 43px auto 34px auto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
}
.title__axure::after {
  border-color: #ffffff;
}
.container__axure {
  position: relative;
  z-index: 1;
}
.subtitle__axure {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;

  text-align: center;

  color: rgba(255, 255, 255, 0.8);
}

.axure__button {
  display: block;
  border: 1px solid #ffffff;
  padding: 11px 26px;
  margin: 57px auto 23px auto;
  width: 135px;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.axure__button:hover {
  background-color: rgba(255, 255, 255, 0.55);
}
.axure__line {
  border-bottom: 2px solid #ffffff;
  width: 64px;
  margin: auto;
}

.contact_form-label {
  color: #86878b;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  display: flex;
  justify-content: right;
  padding-bottom: 13px;
  padding-top: 32px;
}

.contact_form-input {
  border-color: #bdbdbd;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  width: 478px;
}

.contact_form-input:focus {
  outline: none;
}

.contact_form-block {
  display: flex;

  flex-direction: column;
  padding-top: 32px;
}

.contact_form-element {
  display: flex;
  justify-content: end;
}
.contact_form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.input-message {
  height: 180px;
}

.contact_form-inputMessage:focus {
  outline: none;
}
.contact_button {
  background-color: #ec7979;
  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20.43px;
  text-align: center;
  margin-top: 67px;
  margin-bottom: 40px;
  padding: 11px 32px 11px 32px;
  border: none;
}

.container-social,
.container-social p {
  background-color: #000000;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16.34px;
  text-align: center;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.55);
  padding-bottom: 10px;
  margin: 0px;
}

.social-media li {
  list-style: none;
  display: inline;
  display: inline-block;
  padding-top: 30px;
}

.social-media a,
.navigation-link {
  text-decoration: none;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.55);
  margin-right: 30px;
}

.header {
  background-color: black;
}
.navigation_list li {
  color: #ffffff;
  color: rgba(255, 255, 255, 0.7);
  list-style: none;
  display: inline;
  display: inline-block;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20.43px;
  padding-right: 48px;
}
.navigation_list {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: flex-end;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 50px;
}

.logo-white {
  color: white;
}
.logo-pink {
  color: #ec7979;
}

.container_header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35.22px;
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 110px;
}

.axit {
  background: url("../images/background-1\ 1.png");
  height: 500px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 0px;
  padding: 110px;
  padding-bottom: 0px;
}

.axit::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
}
.container__axit {
  position: relative;
  z-index: 1;
}
.axit_logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 70.31px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 28px;
}
.axure_template {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42.26px;
  color: white;
}
.axure_descpibtion {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 16px;
  color: #ffffff;
}

.axit__button {
  display: block;
  border: 1px solid #ffffff;
  padding: 11px 26px;
  margin: 50px 0 0 0;
  width: 135px;
  text-decoration: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.container_axit {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.axit_title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 1;
  max-width: 550px;
}
.axit_form {
  /* display: flex; */
  width: 370px;
  height: 370px;
  background-color: #ffffff;
  border-radius: 7px;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 1;
}
.logo-black {
  color: #000000;
}
.form_title {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27.24px;
  text-align: center;
}

.axit_form-label {
  color: #86878b;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.07px;
  display: flex;
  justify-content: right;
  margin-top: 19px;
  padding-left: 59px;
}

.axit_form-label:first-child {
  margin-top: 44px;
}

.axit_form-input {
  border-color: #bdbdbd;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  width: 252px;
}

.axit_form-input:focus {
  outline: none;
}
.axit_form-space {
  text-align: center;
}
.axit__line {
  border-bottom: 2px solid #ffffff;
  width: 64px;
  text-align: right;
  margin: 32px 0px 32px 0px;
}

.get_started {
  background-color: #ec7979;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20.43px;
  width: 100%;
  color: #fff;
  height: 56px;
  margin-top: 62px;
  border: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}
